
*.cacsv
*.caw
*.dir
*.nexe
*.objdump
*.prd
*.suo
*.ti
*.opensdf
*.sdf
*.ipch
xcuserdata
/GameMinimalReplaceMe/Output
/GameMinimalReplaceMe/Game/SourceAndroid/AndroidApk/assets
/GameMinimalReplaceMe/Game/SourceAndroid/AndroidApk/bin
/GameMinimalReplaceMe/Game/SourceAndroid/AndroidApk/gen
/GameMinimalReplaceMe/Game/SourceAndroid/AndroidApk/libs/armeabi
/GameMinimalReplaceMe/Game/SourceAndroid/AndroidApk/local.properties
/GameMinimalReplaceMe/Game/SourceNaCL/Web/Data
/GameMinimalReplaceMe/Game/SavedData.dat
/GameMinimalReplaceMe/Game/SourceBlackBerry/Data
/GameMinimalReplaceMe/Game/SourceBlackBerry/Device-*
/GameMinimalReplaceMe/Game/SourceBlackBerry/Simulator-*
/GameMinimalReplaceMe/Game/SourceBlackBerry/PlayBook-*
/GameMinimalReplaceMe/Game/SourceBada/.Target*
/MyLocalInclude.h
